.footer {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--body-bg-dark);
}

.address {
  margin-top: 20px;

  @include font (400, 14px, 24px);
  // font-size: 14px;
  // line-height: 1.71;
  // letter-spacing: 0.03em;
}

.address-link {
  color: var(--white-color);
}

.footer-contact-list {
  margin-bottom: -9px;
}

.footer-contact-item {
  margin-bottom: 9px;
}

.footer-contact-link {
  color: rgba(255, 255, 255, 0.6);
}

.join {
  display: block;
  margin-bottom: 20px;
  
@include font (700, 14px, 16px);
  // font-weight: 700;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.social {
  margin-left: 70px;
}

.footer-icon {
  fill: var(--white-color);
}
/* signup-form-in-components */
