.footer {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--body-bg-dark);
}

.address {
  margin-top: 20px;

  @include font (400, 14px, 24px);
  // font-size: 14px;
  // line-height: 1.71;
  // letter-spacing: 0.03em;
}

.address-list {
  margin-bottom: -9px;
}

.address-list__item {
  margin-bottom: 9px;
}

.address-list__link {
  color: var(--white-color);
}

.address-list__contact-link {
  color: rgba(255, 255, 255, 0.6);
}

.social {
  margin-left: 70px;
}

.join {
  display: block;
  margin-bottom: 20px;
  
@include font (700, 14px, 16px);
  // font-weight: 700;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}


// .footer-icon {
//   fill: var(--white-color);
// }
/* signup-form in components */
