.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;

  background-color: var(--white-color);
}

.nav {
  display: flex;
  align-items: center;

  @include font (500, 14px, 16px, 0.02em);
  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.02em;

  & .logo {
    margin-right: 93px;
  }
}

.nav-list {
  display: flex;
  align-items: center;

  @include font (500, 14px, 16px, 0.02em);
  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.02em;

  & .nav-item + .nav-item {
  margin-left: 50px;
  }
}

.nav-link {
  color: var(--primary-text-color);
  transition: color 250ms var(--cubik), fill 250ms var(--cubik);

  &:hover,
  &:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  }
}

.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;

  @include font (500, 14px, 16px, 0.02em);
  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.02em;

  & .contact-item + .contact-item {
  margin-left: 50px;
  }
}

.contact-item {
  display: flex;
  text-align: center;
}

.contact-link {
  display: inline-flex;
  align-items: center;
  color: var(--secondary-text-color);
  transition: color 250ms var(--cubik), fill 250ms var(--cubik);

  &:hover,
  &:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  }
}

.contact-icon {
  margin-right: 10px;
  align-items: center;
  fill: currentColor;
  transition: color 250ms var(--cubik), fill 250ms var(--cubik);

  .contact-link:hover &,
  .contact-link:focus & {
  color: var(--accent-color);
  fill: var(--accent-color);
  }
}
