.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--white-color);
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  & .close-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: fill 250ms var(--cubik);
    
  }
  &:focus .close-icon,
  &:hover .close-icon {
    fill: var(--accent-color);
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(1.5);
}
.modal-form-title {
@include font (700, 20px, 23px);
  // font-weight: 700;
  // font-size: 20px;
  // line-height: 1.15;
  // letter-spacing: 0.03em;

  text-align: center;
  margin-bottom: 15px;

  color: var(--primary-text-color);
}